@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url($fontsUrl + "roboto-font/Roboto-Light.woff2") format("woff2"), url($fontsUrl + "roboto-font/Roboto-Light.woff") format("woff");
}
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url($fontsUrl + "roboto-font/Roboto-Regular.woff2") format("woff2"), url($fontsUrl + "roboto-font/Roboto-Regular.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url($fontsUrl + "roboto-font/Roboto-Bold.woff2") format("woff2"), url($fontsUrl + "roboto-font/Roboto-Bold.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url($fontsUrl + "roboto-font/Roboto-Black.woff2") format("woff2"), url($fontsUrl + "roboto-font/Roboto-Black.woff") format("woff");
}