@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 100;
    src: url($fontsUrl + "Rubik/Rubik-Light.woff2") format("woff2"), url($fontsUrl + "Rubik/Rubik-Light.woff") format("woff");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url($fontsUrl + "Rubik/Rubik-Regular.woff2") format("woff2"), url($fontsUrl + "Rubik/Rubik-Regular.woff") format("woff");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    src: url($fontsUrl + "Rubik/Rubik-Bold.woff2") format("woff2"), url($fontsUrl + "Rubik/Rubik-Bold.woff") format("woff");
}
@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 900;
    src: url($fontsUrl + "Rubik/Rubik-Black.woff2") format("woff2"), url($fontsUrl + "Rubik/Rubik-Black.woff") format("woff");
}