---
import Layout from '../layouts/Layout.astro';
import '../styles/main.scss';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
const credits = [
  { job: "Edición de luz", name: "Pepita" },
  { job: "Edición de video", name: "Pepitoo" },

];

---
<Layout title="Welcome to Astro.">
	<Navbar/>
	<header>
		<div class="cont cont--full">

			<div class="header-apertura__background is--rel">
			</div>
			<div class="header-apertura__lead">
			  <h1 class="header-apertura__title">QUIÉN ES QUIÉN EN
				EL 'CASO KOLDO'</h1>
			  <p class="header-apertura__txt">La operación Delorme desarticuló lo que la Audiencia Nacional considera «una
				organización criminal» que durante la pandemia aprovechó conexiones políticas para lucrarse con la venta a
				distintas administraciones de material sanitario. Estos son los principales investigados y las figuras
				políticas salpicadas por las adjudicaciones investigadas. </p>
			</div>
		  </div>
	</header>
	<main>
		<div class="cont cont--m pad--t50">
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, adipisci laboriosam. Accusamus quam aliquid nobis nesciunt voluptates, tempora porro vel ullam, quibusdam eveniet dolores quidem laboriosam adipisci consectetur in. Dicta?</p>
		</div>
	</main>
	<Footer credits={credits} />
	

</Layout>

<style>
	.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: 100vh;
}

</style>

